#quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  color: #F2F2F2;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
}

#new-quote {
  align-self: left;
}

i {
  font-size: 30px;
}
